node-Red/node-red-app.json
[{"id":"845956af.cc3db8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"540fc49.60e433c","type":"ttn app","z":"","appId":"howtp-mroda","accessKey":"ttn-account-v2.3wrmXgpqqdYfNJabhCBDdligp3Kgcl_Xwlf8Wi4wVJY","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"665ef0d1.e89168","type":"debug","z":"845956af.cc3db8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":100,"wires":[]},{"id":"f883418.75dbbc","type":"file","z":"845956af.cc3db8","name":"TTN LOG 2","filename":"/home/mroda/ttn-data/ttn_log2.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":390,"y":340,"wires":[[]]},{"id":"37ca8ca9.9402ec","type":"function","z":"845956af.cc3db8","name":"Build node data object","func":"// Build an object that allows us to track\n// node data better than just having the payload\n\n//For the debug inject node. Comment out when in real use\n//var inmsg = msg.payload;\nvar inmsg = msg;  // from the TTN node\n\nvar newmsg = {};\nvar devicedata = {};\nvar betterRSSI = -1000;  // Start with a low impossible value\nvar betterSNR = -1000;\n\n// WARNING only works with String data\n// Use TTN decode functions is a better idea\nvar nodercvdata = inmsg.payload.toString(\"utf-8\");\n\ndevicedata.device = inmsg.dev_id;\ndevicedata.deviceserial = inmsg.hardware_serial;\ndevicedata.rcvtime = inmsg.metadata.time;\ndevicedata.nodedata = nodercvdata;\n\n// Iterate over the gateway data to get the best RSSI and SNR data\nvar gws = inmsg.metadata.gateways;\n\nfor ( var i = 0 ; i < gws.length; i++ ) {\n    var gw = gws[i];\n    if ( gw.rssi > betterRSSI )\n        betterRSSI = gw.rssi;\n        \n    if ( gw.snr > betterSNR )\n        betterSNR = gw.snr;\n}\n\ndevicedata.rssi = betterRSSI;\ndevicedata.snr = betterSNR;\n\nnewmsg.payload = devicedata;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["66b5a8bf.2ff748","ed62c061.9050e8","429ccbb7.fa59c4"]]},{"id":"66b5a8bf.2ff748","type":"debug","z":"845956af.cc3db8","name":"pos_processing out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"ed62c061.9050e8","type":"debug","z":"845956af.cc3db8","name":"","active":false,"console":"false","complete":"true","x":805.5,"y":310,"wires":[]},{"id":"429ccbb7.fa59c4","type":"file","z":"845956af.cc3db8","name":"Store node data","filename":"/home/mroda/ttn-data/node_data","appendNewline":true,"createDir":false,"overwriteFile":"false","x":620,"y":320,"wires":[[]]},{"id":"f7f1746b.6c4a98","type":"ttn uplink","z":"845956af.cc3db8","name":"ttn-link","app":"540fc49.60e433c","dev_id":"14","field":"","x":150,"y":260,"wires":[["665ef0d1.e89168","37ca8ca9.9402ec","23cc8147.d074ee","f883418.75dbbc"]]},{"id":"23cc8147.d074ee","type":"debug","z":"845956af.cc3db8","name":"raw data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":260,"y":420,"wires":[]}]