node-Red/node-red-app.json
[{"id":"845956af.cc3db8","type":"tab","label":"Sensors_Flow","disabled":false,"info":""},{"id":"ed3a0308.d5b8f","type":"tab","label":"testing","disabled":false,"info":""},{"id":"540fc49.60e433c","type":"ttn app","z":"","appId":"howtp-mroda","accessKey":"ttn-account-v2.3wrmXgpqqdYfNJabhCBDdligp3Kgcl_Xwlf8Wi4wVJY","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"83636e76.7b01b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a6050cbf.43e43","type":"ui_group","z":"","name":"Current Sensor Readings:","tab":"83636e76.7b01b","disp":true,"width":"5","collapse":true},{"id":"b05ee399.ee16e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"(Node-Red) TTGO LoRa Dashboard - BME280 Sensor Readings","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58c1c4ee.e0659c","type":"ui_group","z":"","name":"Sensor Readings","tab":"9d041566.285878","disp":true,"width":"6","collapse":true},{"id":"9d041566.285878","type":"ui_tab","z":"","name":"Testing","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"3bd99ad8.cb6856","type":"ui_group","z":"","name":"Sensor Readings:","tab":"83636e76.7b01b","disp":true,"width":"7","collapse":false},{"id":"37ca8ca9.9402ec","type":"function","z":"845956af.cc3db8","name":"Build node data object","func":"// Build an object that allows us to track\n// node data better than just having the payload\n\n//For the debug inject node. Comment out when in real use\n//var inmsg = msg.payload;\nvar inmsg = msg;  // from the TTN node\n\nvar newmsg = {};\nvar devicedata = {};\nvar betterRSSI = -1000;  // Start with a low impossible value\nvar betterSNR = -1000;\n\n// WARNING only works with String data\n// Use TTN decode functions is a better idea\nvar nodercvdataTemp  = inmsg.payload.temperature;\nvar nodercvdataHum   = inmsg.payload.humidity;\nvar nodercvdataPress = inmsg.payload.pressure;\n\ndevicedata.device = inmsg.dev_id;\ndevicedata.deviceserial = inmsg.hardware_serial;\ndevicedata.rcvtime = inmsg.metadata.time;\n\ndevicedata.temperature = nodercvdataTemp;\ndevicedata.humidity    = nodercvdataHum;\ndevicedata.pressure    = nodercvdataPress;\n\n// Iterate over the gateway data to get the best RSSI and SNR data\nvar gws = inmsg.metadata.gateways;\n\nfor ( var i = 0 ; i < gws.length; i++ ) {\n    var gw = gws[i];\n    if ( gw.rssi > betterRSSI )\n        betterRSSI = gw.rssi;\n        \n    if ( gw.snr > betterSNR )\n        betterSNR = gw.snr;\n}\n\ndevicedata.rssi = betterRSSI;\ndevicedata.snr = betterSNR;\n\nnewmsg.payload = devicedata;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["ed62c061.9050e8","429ccbb7.fa59c4","5054d72b.8d63f8","4e672980.868028","2229e2ee.a6eb5e"]]},{"id":"ed62c061.9050e8","type":"debug","z":"845956af.cc3db8","name":"processed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":20,"wires":[]},{"id":"429ccbb7.fa59c4","type":"file","z":"845956af.cc3db8","name":"Store node data","filename":"/home/mroda/git-repos/TTGO-LoRa32-weather-station/node-Red/data/node_data_formatted.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":800,"y":60,"wires":[[]]},{"id":"f7f1746b.6c4a98","type":"ttn uplink","z":"845956af.cc3db8","name":"ttn-link","app":"540fc49.60e433c","dev_id":"14","field":"","x":130,"y":160,"wires":[["37ca8ca9.9402ec","23cc8147.d074ee","c4635bfc.6e3a78","1fbf4fb3.29fbc","94335f65.cbe16","c06dbe42.ae779"]]},{"id":"23cc8147.d074ee","type":"debug","z":"845956af.cc3db8","name":"payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":160,"wires":[]},{"id":"5054d72b.8d63f8","type":"ui_text","z":"845956af.cc3db8","group":"a6050cbf.43e43","order":0,"width":0,"height":0,"name":"temp_ui","label":"Temperature [C] :  ","format":"{{msg.payload.temperature}} ","layout":"row-left","x":780,"y":120,"wires":[]},{"id":"4e672980.868028","type":"ui_text","z":"845956af.cc3db8","group":"a6050cbf.43e43","order":0,"width":0,"height":0,"name":"humidity_ui","label":"Relative Humidity :  ","format":"{{msg.payload.humidity}} %","layout":"row-left","x":790,"y":180,"wires":[]},{"id":"2229e2ee.a6eb5e","type":"ui_text","z":"845956af.cc3db8","group":"a6050cbf.43e43","order":0,"width":0,"height":0,"name":"pressure_ui","label":"Pressure[Pa] :  ","format":"{{msg.payload.pressure}}","layout":"row-left","x":790,"y":240,"wires":[]},{"id":"dd689b6e.32f518","type":"ui_chart","z":"845956af.cc3db8","name":"Temperature","group":"3bd99ad8.cb6856","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#e02c2d","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":300,"wires":[[]],"inputLabels":["temp"]},{"id":"c4635bfc.6e3a78","type":"function","z":"845956af.cc3db8","name":"Build node data object","func":"temp = msg.payload.temperature\nmsg.topic = \"Random1\";\nmsg.payload = temp;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["dd689b6e.32f518"]]},{"id":"448e4ce5.5d35c4","type":"ui_chart","z":"845956af.cc3db8","name":"Humidity","group":"3bd99ad8.cb6856","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":360,"wires":[[]],"inputLabels":["temp"]},{"id":"79d18ed6.ef355","type":"ui_chart","z":"845956af.cc3db8","name":"Pressure","group":"3bd99ad8.cb6856","order":0,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ba42b","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":420,"wires":[[]],"inputLabels":["temp"]},{"id":"1fbf4fb3.29fbc","type":"function","z":"845956af.cc3db8","name":"Build node data object","func":"hum = msg.payload.humidity\nmsg.topic = \"Humidity\";\nmsg.payload = hum;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["448e4ce5.5d35c4"]]},{"id":"94335f65.cbe16","type":"function","z":"845956af.cc3db8","name":"Build node data object","func":"press = msg.payload.pressure\nmsg.topic = \"Pressure\";\nmsg.payload = press;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["79d18ed6.ef355"]]},{"id":"17f15458.401a2c","type":"inject","z":"ed3a0308.d5b8f","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":180,"wires":[["1379e6a7.25d7d9"]]},{"id":"1379e6a7.25d7d9","type":"function","z":"ed3a0308.d5b8f","name":"test Function","func":"ran = parseInt(Math.random() * 10);\nmsg.topic = \"Random1\";\nmsg.payload = ran;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["9a0d0d3d.716e","916e1a30.a3fc48"]]},{"id":"9a0d0d3d.716e","type":"debug","z":"ed3a0308.d5b8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"916e1a30.a3fc48","type":"ui_chart","z":"ed3a0308.d5b8f","name":"Random","group":"58c1c4ee.e0659c","order":0,"width":0,"height":0,"label":"Random","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"40","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":240,"wires":[[]],"inputLabels":["temp"]},{"id":"c06dbe42.ae779","type":"ui_toast","z":"845956af.cc3db8","position":"bottom right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"New TTN data","x":370,"y":540,"wires":[]}]